{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <h1 class="my-5">Tableau de bord</h1>
    <a href="{{ path('app_add_product') }}"> + Ajouter un produit</a>

    {% if userProducts|length > 0 %}
        <table class="table my-3">
            <thead>
                <tr>
                    <th>Nom de l'objet</th>
                    <th>Prix</th>
                    <th>Ajouté le</th>
                    <th>Retirer de la vente</th>
                </tr>
            </thead>
            <tbody>
            {% for product in userProducts %}
                <tr>
                    <td>{{ product.name }} <img class="img-fluid"  src="{{ asset(uploaded_img_dir ~ product.imgUrl ) }}" alt="{{ product.name }}" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="font-monospace text-center my-5">Vous n'avez pas encore ajouté de produit.</p>
    {% endif %}
{% endblock %}
