<nav>
{#    <a href="{{ path('register') }}">Register</a>#}
{#    <a href="{{ path('users') }}">Users</a>#}
{#    <a href="{{ path('posts') }}">Posts</a>#}
{#    <a href="{{ path('post') }}">New post</a>#}
</nav>